{{!< layout}}


<div class="aui-tabs horizontal-tabs custom-dialog ac-content" role="application">
   <p>No configuration found</p><br>
    <p>Kindly configure and try again</p>
</div>

<!--To establish the cross-domain messaging bridge-->
<!--<script src="https://connect-cdn.atl-paas.net/all.js"></script>-->

<script>

    $(document).ready(function () {
       
    });

    $(function () {
        
    });
   
</script>
